*{
 font-family: 'poppins',sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-size: 15px;
}

p{
  font-size :15px ;
}
    .row::after {
      content: "";
      display: block;
      clear: both;
    }
    [class*="col-"] {
      width: 100%;
      float: left;
    }
    @media only screen and (max-width: 767px) {
      .col-md-1 {width: 8.33333333% }
      .col-md-2 {width: 16.66666667% }
      .col-md-3 {width: 25% }
      .col-md-4 {width: 33.33333333% }
      .col-md-5 {width: 41.66666667% }
      .col-md-6 {width: 50% }
      .col-md-7 {width: 58.33333333% }
      .col-md-8 {width: 66.66666667% }
      .col-md-9 {width: 75% }
      .col-md-10 {width: 83.33333333% }
      .col-md-11 {width: 91.66666667% }
      .col-md-12 {width: 100% }
    }
    @media only screen and (min-width: 768px) {
      .col-l-1 {width: 8.33333333% }
      .col-l-2 {width: 16.66666667% }
      .col-l-3 {width: 25% }
      .col-l-4 {width: 33.33333333% }
      .col-l-5 {width: 41.66666667% }
      .col-l-6 {width: 50% }
      .col-l-7 {width: 58.33333333% }
      .col-l-8 {width: 66.66666667% }
      .col-l-9 {width: 75% }
      .col-l-10 {width: 83.33333333% }
      .col-l-11 {width: 91.66666667% }
      .col-l-12 {width: 100% }
    }
  .topbanner{
    border-bottom: solid;
    background: ghostwhite;
    color: darkgreen;
    flex-direction : column;
    display: flex;
    justify-content: center;
    align-items: center ;
  }
  h1{
    font-weight : bolder;
  }
 .banner{
   width: 100vw;
 } 
 .icondiv{
   background: ghostwhite;
   display: flex;
 }
 
 .icon{
   display: flex;
   align-items: center ;
   width: 50vw;
   padding-left : 5px;
 }
 .iconpic{
   height: 50px ;
   border-radius :50%;
 }
 .aboutdiv{
   display: flex;
   align-items: center ;
   justify-content: right;
   width: 50vw;
   padding-right: 10px;
 }
 a{
   font-size:13px ;
   font-weight :700;
   text-decoration: none;
   padding: 10px;
   color: #2F6A1E;
 }
 .body{
   background: ghostwhite;
 }
 .activationdiv{
   padding: 15px;
 }
 table{
   width: 99vw;
   
 }
 tr{
   height: 30px;
  
 }
 td{
   padding: 5px;
   background: #EFEFEF;
  
 }
 button{
   height: fit-content;
   width: 90%;
   color: #FFFFFF;
   background :#59695A;
   font-weight :700;
 }
 button:hover:active {
   background: #738F74;
 }
 #activate{
   width: 100px;
 }
 .activatediv{
   padding: 15px;
 }
 .tablediv{
   height: 50vh;
   overflow: auto;
 }
 #paypal{
   background: #B2B2B2;
   color: #2A35CB;
   border: none;
   font-weight : bold;
 }
 #paypal:hover:active{
   background: #2A35CB;
   color: #ACACAC;
 }
 #activationsec{
   margin-bottom:30px ;
   max-height: 0px;
   overflow: hidden;
 }
 .b{
   font-weight: 700;
 }
 #btn{
   width: 100px;
   height: fit-content;
 }
 #download{
   border-width: 5px;
   
 }
 #download:active{
     background :#59695A;
     
 }
 
 .about{
   text-align: center;
   margin: 20px;
 }
 .ab{
   padding: 15px;
 }
 .contact{
   text-align: center;
   margin: 20px ;
 }
 .co{
   padding: 15px;
 }